@tailwind base;
@import "./Roboto.css";
@import "./Montserrat.css";
@tailwind components;
html{
    @apply font-body
}
.nav-el{
    @apply flex items-center mr-6 text-base leading-5
}
.heading-1{
    @apply font-bold text-7sm leading-snug font-montserrat
}
.heading-3{
    @apply text-6sm font-light leading-tight
}
.heading-5{
    @apply text-4xl font-bold leading-tight
}
.big-text{
    @apply text-4xl font-bold leading-none  
}
.simple-text{
    @apply text-2xl font-light leading-snug
}
.small-black {
    @apply text-lg font-bold leading-relaxed
}
.small-light {
    @apply text-lg font-light leading-relaxed
}
.body-text {
    @apply font-light text-base
}
.descr{
    @apply text-xl font-light leading-snug text-justify
}

.gallery-frame{
    @apply w-full h-auto
}

.tab-active{
    @apply cursor-pointer pb-2 mr-8 border-b-4 border-royal_blue
}
.tab-inactive{
    @apply mr-8 text-blue-700 cursor-pointer border-b-0
}
.pr-top < li < a {
      @apply my-2 underline 
}
.footer-links {
    @apply my-1 font-semibold text-xl text-white
}
.footer-links:hover {
    @apply text-red-700
}

.heading-huge{
    @apply font-bold leading-tight text-7sm
}
.small-white{
    @apply text-xl
}



@tailwind utilities;
.know-more{
    
    background: #F7FAFF;
    box-shadow: 10px 10px 0px #EBEFFB;
}
.bg-tblue{
    background: rgba(54, 101, 219, .5);
}
.bg-gr {
    background: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.705) 100%
    );
  }

 