@tailwind base;

@tailwind components;

.tab-active{
    @apply cursor-pointer pb-2 mr-8 border-b-4 border-royal_blue
}
.tab-inactive{
    @apply mr-8 text-blue-700 cursor-pointer border-b-0
}
.pr-top < li < a {
      @apply my-2 underline 
}
.footer-links {
    @apply my-1 font-semibold text-xl text-white
}
.footer-links:hover {
    @apply text-red-700
}

.heading-huge{
    @apply font-bold leading-tight text-7sm
}
.small-white{
    @apply text-xl
}
.small-black{
    @apply text-lg font-bold leading-relaxed
}
.big-text{
    @apply text-4xl font-bold leading-none
}
.descr{
    @apply text-xl font-light leading-tight text-justify
}

@tailwind utilities;
.know-more{
    
    background: #F7FAFF;
    box-shadow: 10px 10px 0px #EBEFFB;
}
.bg-tblue{
    background: rgba(54, 101, 219, .5);
}
.bg-gr {
    background: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.705) 100%
    );
  }

 